.chat-container {
  height: 550px;
  max-height: 1600px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.chat-message {
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 640px;
}

.user-message {
  background-color: #0a8df8;
  text-align: right;
  border-radius: 20px 20px 0px;
  color: white;
  margin-left: auto;
}

.system-message {
  background-color: #f0f0f0;
  text-align: left;
  border-radius: 20px 20px 20px 0px;
}

.bot-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-container {
  display: flex;
  margin-bottom: 10px;
  align-items: end;
}

.input-form {
  display: flex;
}


.embed-submit-field {
  position: relative;
  width: 100%;
  textarea {
    padding: 15px;
    width: -webkit-fill-available;
  }
  button {
    position: absolute;
    right: 10px;
    top: 7px;
    
    border: none;
    background: #ededed;
    border-radius: 3px;
    padding: 10px;
    
    transition: all .2s;
    
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover {
      background-color: #0a8df8;
      color: #fff;
      cursor: pointer;
    }
  }
}
